* {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 3% 3% 0% 0%;
}

.nav-bar {
    list-style-type: none;
    display: flex;
}

.nav-list {
    margin-right: 25px;
}

#hello {
    padding: 0px 25px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #00ADB5;
    color: #00ADB5;
    font: 1em sans-serif;
    margin-right: 20px;
}

#hello:hover {
    color: white;
    background-color: #00ADB5;
}