* {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    list-style-type: none;
    display: flex;
}

.nav-list {
    margin-right: 20px
}

#hello {
    padding: 8px;
    background-color: red;
    border-radius: 20px;
    border: 2px solid #D6B4FC;
    color: #D6B4FC;
    font: 1em sans-serif;
    margin-right: 20px;
}

#hello:hover {
    color: white;
    background-color: #D6B4FC;
}